extends layout

block content
    // Container
    .container
        .jumbotron.text-center
            h1 <span class="fa fa-lock"></span> Node Authentication
            p Login or Register with:

            a(href="/login" class="btn btn-default")<span class="fa fa-user"></span> Local Login
            a(href="/signup" class="btn btn-default")<span class="fa fa-user"></span> Local Signup
    // /Container